
/***************************************************/
/*               "Show Guestbook" Page             */
/***************************************************/
#gbHeader{
    float:left;
    width:100%;
    margin-bottom:10px;    
}

#gbPageLinks{
    float:right;
}

#gbNavLinks{
    float:left;
}

#gbEntriesWrap, #gbNoEntriesWrap{
    clear:both;
}

#gbCredit{
    display:block;
    margin-top: -7px;
    color: #BBBBBB;
    font-size: x-small;
}

.gbEntry{
    width:100%;
    padding:0;
    margin-bottom: 7px;
    border:1px solid #888888;
}

.gbEntryTop{
    width:80%
}

.gbEntryLeft table{
    border:0;
    width:100%;
}

.gbEntryLeft td{
    border:0;
    margin:0;
    padding: 2px;
    background:none;
}

.gbEntryLeft .rightSide{
    text-align:right;
}

.gbEntryLeft .leftSide{
    text-align:left;
}

.gbEntryLeft{
    height:100%;
    padding:0 3px;
    vertical-align:top;
    text-align:center;
    border-right:1px solid #888888;
}

.gbEntryBottom img, .gbEntryTop img{
    border:0;
    margin:0;
    padding:0;
}

.gbEntryContent{
    padding:4px;
    border-top:1px solid #888888;
    border-bottom:1px solid #888888;
}

.gbAuthor{
    float:left;
    vertical-align:middle;
}

.gbFlagAndBrowser{
    float:right;
    padding-right:3px;
    margin-top:3px;
}

/***************************************************/
/*              "Sign Guestbook" Page              */
/***************************************************/
#gbSignWrap{
    width: 400px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    clear:both;
    border:1px solid #888888;
}

#gbSignPersonal{
    margin-top:5px;
    border:0;
}

#gbSignPersonal td{
    border:0;
    background:none;
}

#gbSignPersonal #email, #gbSignPersonal #author, #gbSignPersonal #url{
    width:200px;
}

#gbSignText{
    margin-top: 10px;
    text-align:center;
}

#gbSignText #comment{
    width: 90%;
}

#gbSignUpload{
    margin:10px 0;
    text-align:center;
}

#gbSignUploadedFile{
    width:100%;
    margin: 5px 0;
}